{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- 

Grill Template 

http://www.templatemo.com/free-website-templates/417-grill

-->

<head>
    <meta charset="utf-8">
    <title>Library Project CS UBU</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/testimonails-slider.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

    <header>
        <!-- <div id="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-account">
                            <a href="#">Home</a>
                            <a href="#">My account</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cart-info">
                            <i class="fa fa-shopping-cart"></i> (
                            <a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>)
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="/">
                                <h3>
                                    <b>Library Project CS</b>
                                </h3>
                                <!-- <img src="{% static 'images/logopr.png' %}" title="Grill Template" alt="Grill Website Template"></a> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="main-menu">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="">Products</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="search-box">
                            <!-- <form name="search_form" method="get" class="search_form">
                                <input id="search" type="text" onkeyup="searchercord();" />
                                <input type="submit" id="search-button" href="search" width="40" height="40" />
                            </form> -->
                            <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                            <form><button class="button button1" href="search">ค้นหา</button></form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
        <div class="container">
            <div class="top-footer">
                <div class="row">
                    <div class="col-md-9">
                        <!-- <div class="subscribe-form">
                            <span>Get in touch with us</span>
                            <form method="get" class="subscribeForm">
                                <input id="subscribe" type="text" />
                                <input type="submit" id="submitButton" />
                            </form>
                        </div> -->
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="social-bottom">
                            <span>Follow us:</span>
                            <ul>
                                <li>
                                    <a href="#" class="fa fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-rss"></a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="main-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about">
                            <h4 class="footer-title">เกี่ยวกับ</h4>
                            <p>เว็บคลังโปรเจคสาขาวิิทยาการคอมพิวเตอร์ คณะวิทยสศาสตร์ มหาวิทยาลัยอุบลราชธานี สร้างขึ้นเพื่อให้ผู้ที่สนใจในด้านควิทยาการคอมพิวเตอร์ได้เข้ามาหาแนวทางในการทำโปรเจ็คจบจากโปรเจ็คจบของรุ่นพี่</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="shop-list">
                            <h4 class="footer-title">Shop Categories</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>New Grill Menu</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Healthy Fresh Juices</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Spicy Delicious Meals</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Simple Italian Pizzas</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Pure Good Yogurts</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Ice-cream for kids</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-3">
                        <div class="recent-posts">
                            <h4 class="footer-title">Recent posts</h4>
                            <div class="recent-post">
                                <div class="recent-post-thumb">
                                    <img src="{% static 'images/recent-post1.jpg' %}" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <h6><a href="#">Delicious and Healthy Menus</a></h6>
                                    <span>24/12/2084</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post-thumb">
                                    <img src="{% static 'images/recent-post2.jpg' %}" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <h6><a href="#">Simple and effective meals</a></h6>
                                    <span>18/12/2084</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="more-info">
                            <h4 class="footer-title">ติดต่อ</h4>
                            <!-- <p>Sed dignissim, diam id molestie faucibus, purus nisl pretium quam, in pulvinar velit massa id elit.</p> -->
                            <ul>
                                <li><i class="fa fa-phone"></i>0454444444</li>
                                <li><i class="fa fa-globe"></i>sci ubu </li>
                                <li><i class="fa fa-envelope"></i><a href="#">admin@ubu.ac.th.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.gmap3.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <style>
        .button {
            background-color: #e98629;
            /* Green */
            border: none;
            color: black;
            text-align: center;
            /* text-decoration: none; */
            /* display: inline-block; */
            font-size: 16px;
            /* margin: 4px 2px; */
            cursor: pointer;
        }
        
        .button1 {
            padding: 10px 24px;
        }
        /*         
        .button2 {
            padding: 12px 28px;
        }
        
        .button3 {
            padding: 14px 40px;
        }
        
        .button4 {
            padding: 32px 16px;
        }
        
        .button5 {
            padding: 16px;
        } */
    </style>
</body>

</html>