{% extends 'myapp/dashboard.html' %} {% block content %} {% load static %}
<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    {% for i in datadetail%}
                    <h2>รายละเอียดโครงงานเรื่อง {{i.ProjectName}}</h2>
                    <img src="{% static 'images/under-heading.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <div>
                        <table style="width:100%" color="white">

                            <tr>
                                <th>ชื่อ-สกุล : </th>
                                <td>{{i.Name}}</td>
                            </tr>
                            <tr>
                                <th>รหัสนักศึกษา : </th>
                                <td>{{i.StudentID}}</td>
                            </tr>
                            <tr>
                                <th>ชื่อโครงงาน : </th>
                                <td>{{i.ProjectName}}</td>
                            </tr>
                            <tr>
                                <th>ประเภทโครงงาน : </th>
                                <td>{{i.Type}}</td>
                            </tr>
                            <tr>
                                <th>ปีการศึกษา : </th>
                                <td>{{i.GraduationYear}}</td>
                            </tr>
                            <tr>
                                <th>บทคัดย่อ : </th>
                                <td>{{i.Abstract}}</td>
                            </tr>
                            <tr>
                                <th>คำหลัก : </th>
                                <td>{{i.Keyword}}</td>
                            </tr>
                            <tr>
                                <th>เทคโนโลยีที่ใช้ในการพัฒนา : </th>
                                <td>{{i.Technology}}</td>
                            </tr>
                            <tr>
                                <th>รางวัลที่เคยได้รับ : </th>
                                <td>{{i.Award}}</td>
                            </tr>
                            <tr>
                                <th>ที่อยู่ลิงค์ของโครงงาน</th>
                                <td>
                                    <a href="//{{i.LinkGit}}">Open in Git</a>
                                </td>
                            </tr>{% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}