{% extends 'myapp/dashboard.html' %} {% block content %} {% load static %}
<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                
                    {% comment %} {% for i in datadetail%} {% endcomment %}
                    <h2 style="font-family: 'Prompt', sans-serif;">รายละเอียดโครงงานเรื่อง {{datadetail.ProjectName}}</h2>
                    <img src="{% static 'images/under-heading.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <div>
                        <table class="table table-hover" id="task-table">
                            <tbody>
                                <tr>
                                    <th>ชื่อ-สกุล</th>
                                    <td>{{datadetail.Name}}</td>
                                </tr>
                                <tr>
                                    <th>รหัสนักศึกษา</th>
                                    <td>{{datadetail.StudentID}}</td>
                                </tr>
                                <tr>
                                    <th>ชื่อโครงงาน</th>
                                    <td>{{datadetail.ProjectName}}</td>
                                </tr>
                                <tr>
                                    <th>ประเภทโครงงาน</th>
                                    <td>{{datadetail.Type}}</td>
                                </tr>
                                <tr>
                                    <th>ปีการศึกษา</th>
                                    <td>{{datadetail.GraduationYear}}</td>
                                </tr>
                                <tr>
                                    <th>บทคัดย่อ</th>
                                    <td>{{datadetail.Abstract}}</td>
                                </tr>
                                <tr>
                                    <th>คำหลัก</th>
                                    <td>{{datadetail.Keyword}}</td>
                                </tr>
                                <tr>
                                    <th>เทคโนโลยีที่ใช้ในการพัฒนา</th>
                                    <td>{{datadetail.Technology}}</td>
                                </tr>
                                <tr>
                                    <th>รางวัลที่เคยได้รับ</th>
                                    <td>{{datadetail.Award}}</td>
                                </tr>
                                <tr>
                                    <th>ที่อยู่ลิงค์ของโครงงาน</th>
                                    <td>
                                        <a href="{{datadetail.LinkGit}}">ดูรายละเอียดเพิ่มเติมบน projectcs.sci.ubu.ac.th</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>อัปโหลดเมื่อ</th>
                                    <td>
                                      {{datadetail.datetime}}  
                                    </td>
                                </tr>  
                                {% comment %} {% endfor %} {% endcomment %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    th,
    td {
        border: 1px solid black;
        width: 100px;
    }
</style>
{% endblock %}