<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='icon' href='https://scontent.fbkk9-2.fna.fbcdn.net/v/t1.0-9/77394959_2552648231457773_5580169914968178688_n.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHVTLCIT2B0LH5pt5knTuU0_vJ5CgxRm-f-8nkKDFGb51XIpU24SDcHHlZCYuYM3PXtb20pgUQFs4TgcMfjmSPQ&_nc_ohc=f12WEbgTH1IAX-7-Ob5&_nc_ht=scontent.fbkk9-2.fna&oh=0b966d60093f5a2d566cd7a1607b56de&oe=603863F5'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TEST BASE</title>
  {% load static %}
  <!-- <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body>
  <style>
    body {
      background-color: rgb(231, 226, 226);
    }
    img {
    border-radius: 50%;
}
  </style>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <font color="F5F5F5">LibraryCS</font>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/ ">หน้าแรก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">เกี่ยวกับ</a>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <form class="d-flex">
            <input class="form-contrlo me-2" type="search" placeholder="" aria-label="Search">
          </form> &ensp;
          <button class="btn btn-outline-success" type="submit">ค้นหา</button> &ensp;
          <a><img src="https://www.flaticon.com/svg/vstatic/svg/174/174848.svg?token=exp=1611833250~hmac=5421315b431df53b2581e9f132efa245" style="width: 28px; height: 28px;">
            </li>
            &ensp;
            <a><img src="https://www.flaticon.com/svg/vstatic/svg/124/124021.svg?token=exp=1611833292~hmac=3fa334ad95a3acd8b9f4fc3e7e0eb78a" style="width: 28px; height: 28px;">
        </ul>
      </div>
    </div>
  </div>
  {% block content %}

  {% endblock %}
</body>

</html>